
body {
    line-height: 1.5em;
    background-color: #ddd;
    margin: 0;
    font-family: Georgia;
  }

/* nav bar styling*/
.topnav {
    background-color: #fff;
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #111;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    color: #444;
    background: #ddd;
    background: linear-gradient(45deg, #fff, #ddd);
}

.topnav a.active {
    background: linear-gradient(45deg, lightsalmon, lightcoral);
    color: black;
}

.topnav .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
    }
}

/* services section */
.serve{
    text-align: center;
}
.service{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5%;
}
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 28px;
    max-width: 340px;
    border-radius: 30px;
    background: #fff;
    box-shadow: 0px 0px 14px 0px rgba(192, 192, 192, 0.2);
    transition: 1s all;
    overflow: hidden;
    height: 300px;
    margin-left: 5%;
  }
  .card::after {
    content: "";
    position: absolute;
    bottom: -30%;
    right: -30%;
    width: 120px;
    height: 120px;
    background: lightcoral;
    filter: blur(70px);
    border-radius: 50%;
    transition: width 1s, height 1s;
  }
  .card::before {
    content: "";
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    color: bl;
    background: lightcoral;
    filter: blur(50px);
    border-radius: 50%;
    transition: width 1s, height 1s;
  }
  .card:hover::before {
    bottom: -230%;
    width: 1000px;
    height: 1000px;
    filter: blur(1px);
  }
  .containers {
    position: relative;
  }
  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 6px;
    background: #fec5bb;
  }
  .icon i {
    font-size: 25px;
  }
  .card:hover .icon {
    background: #f8ad9d;
    transition: 1s all;
  }
  .card:hover .linkMore i {
    filter: brightness(10) invert(1);
    transition: 1s all;
  }
  .title {
    color: #171d29;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    white-space: nowrap;
    transition: 1s all;
    margin: 1rem 0;
  }
  .subtitle {
    color: #7e8882;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    transition: 1s all;
  }
  .linkMore {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.8rem;
    color: #072713;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-decoration: none;
    transition: 1s all;
    margin-top: 1rem;
  }
  .card:hover .title,
  .card:hover .subtitle,
  .card:hover .linkMore {
    color: #111;
    transition: 1s all;
  }
     /*  media queries */
  
     @media (max-width: 480px) {
      
        .service, .card{
          display: block;
          width: 95%;
          margin-bottom: 20px;
          margin-left: 5%;
        }
    .subtitle{
        text-align: center;
    }
      
      }
      @media (width: 768px) {
      
        .service{
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
        }
        .subtitle{
            text-align: center;
        }
      }
  

/* about us section */
  
  .text-blk {
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    line-height: 24px;
    color: black;
    font-size: 16px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 10px;
    margin-left: 0px;
    text-align: center;
  }
  
  .responsive-container-block {
    min-height: 75px;
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    justify-content: flex-start;
  }
  
  .responsive-container-block.bigContainer {
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin: 0 0 0 0;
  }
  
  .responsive-container-block.Container {
    max-width: 1320px;
    align-items: center;
    justify-content: center;
    margin-top: 4px;
    margin-right: auto;
    margin-bottom: 2px;
    margin-left: auto;
    padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
  }
  
  .responsive-container-block.leftSide {
    width: auto;
    align-items: flex-start;
    padding-top: 1px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    flex-direction: column;
    position: static;
    margin-top: 0px;
    margin-right: auto;
    margin-bottom: 0px;
    margin-left: auto;
    max-width: 450px;
  }
  
  .text-blk.heading {
    font-size: 40px;
    line-height: 54px;
    font-weight: 900;
    color: lightcoral;
    margin-top: 1px;
    margin-right: 0px;
    margin-bottom: 40px;
    margin-left: 60px;
  }
  
  .responsive-container-block.rightSide {
    width: 675px;
    position: relative;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
    display: flex;
    height: 400px;
    min-height: auto;
  }
  
  .number1img {
    margin-top: 35%;
    margin-right: 80%;
    margin-bottom: 3%;
    margin-left: 20%;
    height: 32%;
    width: 30%;
    position: absolute;
  }
  
  .number2img {
    margin-top: 10%;
    margin-right: 40%;
    margin-bottom: 42%;
    margin-left: 28%;
    width: 35%;
    height: 39%;
    position: absolute;
  }
  
  .number3img {
    width: 19%;
    height: 31%;
    position: absolute;
    margin-top: 44%;
    margin-right: 64%;
    margin-bottom: 30%;
    margin-left: 53%;
  }
  

  
  .number5img {
    position: absolute;
    width: 14%;
    height: 21%;
    margin-top: 28%;
    margin-right: 27%;
    margin-bottom: 41%;
    margin-left: 60%;
  }
  
  .number6img {
    position: absolute;
    margin-top: 0;
    margin-right: 3%;
    margin-bottom: 67%;
    margin-left: 64%;
    width: 35%;
    height: 43%;
  }
  
  .number7img {
    position: absolute;
    width: 25%;
    margin-top: 27%;
    margin-right: 0px;
    margin-bottom: 18%;
    margin-left: 75%;
    height: 42%;
  }
  
  .text-blk.subHeading {
    font-size: 15px;
    line-height: 25px;
    font-family: Georgia;
  }
  .button {
    background-color: #ffffff00;
    color: #111;
    width: 11em;
    height: 2.9em;
    border: lightcoral 0.2em solid;
    border-radius: 11px;
    text-align: center;
    transition: all 0.6s ease;
    margin-left: 35%;
  }
  
  .button:hover {
    background-color: lightcoral;
    cursor: pointer;
  }
  
  .button svg {
    width: 1.6em;
    margin: -0.3em 0.1em 1em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .button:hover svg {
    transform: translateX(5px);
  }
  
  .text {
    margin: 0 1.5em;
    text-align: center;
  }
  
  @media (max-width: 1024px) {
    .responsive-container-block.Container {
      flex-direction: column-reverse;
    }
  
    .text-blk.heading {
      text-align: center;
      max-width: 370px;
    }
  
    .text-blk.subHeading {
      text-align: center;
      max-width: 500px;
    }
  
    .responsive-container-block.leftSide {
      align-items: center;
      max-width: 500px;
    }
  
    .responsive-container-block.rightSide {
      margin-top: 0px;
      margin-right: auto;
      margin-bottom: 100px;
      margin-left: auto;
    }
  
    .responsive-container-block.rightSide {
      margin: 0 auto 70px auto;
    }
  }
  
  @media (max-width: 768px) {
    .responsive-container-block.rightSide {
      width: 750px;
      height: 450px;
    }
  
    .responsive-container-block.leftSide {
      max-width: 550px;
    }
    .text-blk.subHeading{
        font-size: 18px;
        line-height: 40px;
    }
    .button{
        margin-left: 2%;
      }
  }
  
  @media (max-width: 500px) {
    .number2img {
      display: none;
    }
  
    .number3img {
      display: none;
    }
  
    .number5img {
      display: none;
    }
  
    .number1img {
        display: none;
      }
  
    .number7img {
      display: none;
    }
    .responsive-container-block.rightSide {
      width: 100%;
      height: 350px;
      margin-top: 0;
      margin-right: 0px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
    .number6img  {
      position: static;
      margin-top: 0;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto;
      width: 100%;
      height: 90%;
      border-radius: 50%;
    }
  .button{
    margin-left: 2%;
  }
    .text-blk.heading {
      font-size: 27px;
      line-height: 40px;
      max-width: 370px;
      width: auto;
    }
  
    .text-blk.subHeading {
      font-size: 20px;
      line-height: 30px;
    }
  
    .responsive-container-block.leftSide {
      width: 100%;
    }
  }
  *,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* contact us styling*/ 
button, input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 1.0px;
  }
  
  .background {
    display: flex;
    width: 976px;
    margin-top: 18%;
  }
  
  .containers {
    flex: 0 1 700px;
    margin: auto;
    padding: 10px;
  }
  
  .screen {
    position: relative;
    background: #ddd;
    border-radius: 15px;
  }
  
  .screen:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 40px;
    right: 40px;
    bottom: 0;
    border-radius: 15px;
    z-index: -1;
  }
  
  .screen-body {
    display: flex;
  }
  
  .screen-body-item {
    flex: 1;
    padding: 50px;
  }
  
  .screen-body-item.left {
    display: flex;
    flex-direction: column;
  }
  
  .app-title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: black;
    font-size: 20px;
  }
  
  .app-title:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -10px;
    width: 45px;
    height: 4px;
    background: salmon;
  }
  
  .app-contact {
    margin-top: auto;
    font-size: 15px;
    color: #888;
    width: 400px;
  }
  
  .app-form-group {
    margin-bottom: 15px;
    width: 550px;
  }
  
  .app-form-group.message {
    margin-top: 40px;
  }
  .app-form-group small{
    color: #e74c3c;
    position: absolute;
    bottom: 0;
    visibility: hidden;
  }
  .app-form-group.error small{
    visibility: visible;
  }
  
  .app-form-group.buttons {
    margin-bottom: 0;
    text-align: right;
  }
  
  .app-form-control {
    width: 100%;
    padding: 10px 0;
    background: none;
    border: none;
    border-bottom: 1.5px solid #666;
    color: #ddd;
    font-size: 14px;
    outline: none;
    transition: border-color .2s;
  }
  
  .app-form-control::placeholder {
    color: #666;
  }
  
  .app-form-control:focus {
    border-bottom-color: salmon;
  }
  .app-form-button {
    background: none;
    border: none;
    color: salmon;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    font-weight: bold;
  }
  .app-form-button:hover {
    color: coral;
  }
 /* media queries */
  
 @media (max-width: 500px) {
  
  .app-form-group{
    font: bold 14px sans-serif;
  }
  .screen-body-item.left,.screen-body,.app-form-button {
    display: block;
    width: 150px;
    margin-bottom: 40px;
    margin-left: 0;
    margin-top: 130%;
  }
  .app-form-button{
    margin-top: 2%;
  }
  .app-form-group, .app-contact {
    width: 150px;
    margin-bottom: 5px;
    margin: 0;
  }
.app-title {
   float: left;
    margin-bottom: 20%;
}
.app-contact{
    text-align: center;
}
.app-form-group{
    margin-left: 0;
    width: 150px;
}
.background{
    width: 150px;
    margin: 0;
    display: flex;
    flex-direction: column;
    max-width: fit-content;
}
.containers, .background {
    margin-left: 0;
  }


}
@media (max-width: 768px) {
  
    .app-form-groupt{
      font: bold 14px sans-serif;
    }
    .app-title{
        text-align: center;
    
    }
    .screen-body-item.left,.screen-body,
    .app-form-group, .app-form-button {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
    .app-title {
        text-align: center;
        margin-bottom: 10%;
    }
    .app-title:after{
        margin-left: 40%;
    }
  .background{
    width: 400px;
   margin-left: 14%;
  }
    .containers{
      margin-left: 0;
    }
  
  }
  /* Testimonials styling */
  .flex{
    margin: 12px auto;
    padding: 5px;
    gap: 50px  10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

  }
  .heading{
    margin-top: 1%;
  }
  figure.snip1157 {
    font-family: 'Raleway', Arial, sans-serif;
    position: relative;
    overflow: hidden;
    margin: 10px;
    min-width: 320px;
    max-width: 410px;
    width: 100%;
    color: #333;
    text-align: left;
    box-shadow: none !important;
    height: 210px;
   
  }
  figure.snip1157 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  }
  
  figure.snip1157 blockquote {
    display: block;
    border-radius: 12px;
    position: relative;
    background-color: #fafafa;
    padding: 25px 50px 30px 50px;
    font-size: 0.86em;
    font-weight: 500;
    margin: 0;
    line-height: 1.6em;
    font-style: italic;
  }
  figure.snip1157 blockquote:before,
  figure.snip1157 blockquote:after {
    font-family: 'FontAwesome';
    content: "\201C";
    position: absolute;
    font-size: 25px;
    opacity: 0.3;
    font-style: normal;
  }
  figure.snip1157 blockquote:before {
    top: 25px;
    left: 20px;
  }
  figure.snip1157 blockquote:after {
    content: "\201D";
    right: 20px;
    bottom: 0;
  }
  figure.snip1157 .arrow {
    top: 100%;
    width: 0;
    height: 19%;
    border-left: 0 solid transparent;
    border-right: 25px solid transparent;
    border-top: 25px solid #fafafa;
    margin: 0;
    position: absolute;
  }
   /*  media queries */
  
   @media (max-width: 480px) {
  
    figure.snip1157 {
      font:  18px sans-serif;
      margin-bottom: 10%;
    }
  
    figure.snip1157 ,  .flex ,
    figure.snip1157 blockquote .heading{
      display: block;
      width: 90%;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .flex{
      margin-left: 5%;
      margin-bottom: 40%;
    }
  
  }
  @media (width: 768px) {
  
    .flex{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 30px;
    }
    .heading {
        margin-bottom: 3%;
    }
  }
   /*Statistics styling*/
   .row{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 10%;
}
.col{
    flex-basis: 22%;
    text-align: center;
    color: #555;
}
.counter-box{
    width: 100%;
    height: 100%;
    background: #12192c;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 0 0 20px -4px #66676c;
    color:#fff;
}
.counter,.statistic{
    display: inline-block;
    margin: 15px 0;
    font-size: 50px;
    color: #fff;
}
.counter-box .fa{
    font-size: 40px;
    color: rgba(16, 211, 97, 0.603);
    display: block;
}
.counter-box .bi{
    font-size: 40px;
    color: rgba(16, 211, 97, 0.603);
    display: block;
}
@media (max-width: 480px) {
  
  .counter{
    font:  bold 35px  sans-serif;
  }
.counter-box h4{
  line-height: 1rem;
  font:  bold 17px sans-serif;
  
}
.counter {
    display: block;
    margin-bottom: 5px;
    text-align: center;
   
  }
.counter-box {
    width: 160px;

}
  .row{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 39%;
    gap: 30px;
  }
  .col{
    margin: 1%;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(2, 1fr);
  }

}

  /*footer styling*/

  .footer-distributed{
    background: #ddd;
    box-shadow: 0 1px 1px 0 rgba(0.12, 0, 0, 0);
    box-sizing: border-box;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 15px 10px;
    margin-top: 1%;
    width: 1134px;
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
  }
  
  /* Footer left */
  
  .footer-distributed .footer-left{
    width: 40%;
  }
  
  /* The company logo */
  
  .footer-distributed img{
 height: 100px;
 width: 109px;
 border-radius: 12px;
   
  }
  
  /* Footer links */
  
  .footer-distributed .footer-links{
    color:  #111;
    padding: 0;
  }
  
  .footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    font-weight:400;
    text-decoration: none;
    color:  inherit;
  }
  
  .footer-distributed .footer-company-name{
    color:  #222;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
  }

  /* Footer Center */
  
  .footer-distributed .footer-center{
    width: 35%;
  }
  
  .footer-distributed .footer-center i{
  
    color: black;
    font-size: 18px;
    width: 18px;
    height: 38px;
    text-align: center;
    line-height: 34px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 32px;
  }
  
  .footer-distributed .footer-center p{
    display: inline-block;
    color: #111;
    font-weight:400;
    vertical-align: middle;
    margin:0;
  }
  
  .footer-distributed .footer-center p a{
    color:  darkblue;
    text-decoration: none;;
  }
  
  .footer-distributed .footer-links a:before {
    content: "|";
    font-weight:300;
    font-size: 20px;
    left: 0;
    color: orange;
    display: inline-block;
    padding-right: 5px;
  }
  
  .footer-distributed .footer-links .link-1:before {
    content: none;
  }
  
  /* Footer Right */
  
  .footer-distributed .footer-right{
    width: 20%;
  }
  
  .footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #343639;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  .footer-distributed .footer-company-about span{
    display: block;
    color:  #111;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons{
    margin-top: 2px;
  }
  
  .wrapper {
    display: inline-flex;
    list-style: none;
    height: 20px;
    width: 100%;
    padding-top: 4px;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 30px;
    height: 30px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877f2;
    color: #fff;
  }
  
  .wrapper .whatsapp:hover,
  .wrapper .whatsapp:hover .tooltip,
  .wrapper .whatsapp:hover .tooltip::before {
    background:limegreen;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background: #e4405f;
    color: #fff;
  }
  
  
  /* Footer media queries */
  
  @media (max-width: 480px) {
  
    .footer-distributed{
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
      display: block;
      width: 350px;
      margin-bottom: 20px;
      text-align: center;
      max-width: max-content;
      margin-left: 2rem;
    }
    .footer-distributed{
        width: 200px;
        max-width: fit-content;
        margin-top: 1%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);     
    }
   .footer-right .footer-company-about{
        width: 350px;
        text-align: center;
        display: block;
        max-width: fit-content;
        margin-left: 2%;
    }
  
    .footer-distributed .footer-center{
        margin-left: 23%;
    }
  
  }

 @media (width: 768px) {
  
    .footer-distributed{
        font: bold 14px sans-serif;
      }
    
      .footer-distributed .footer-left,
      .footer-distributed .footer-center,
      .footer-distributed .footer-right{
        display: block;
        width: 450px;
        margin-bottom: 20px;
        text-align: center;
        max-width: max-content;
        margin-left: 15rem;
      }
      .footer-distributed{
          width: 200px;
          max-width: fit-content;
      }
     .footer-right .footer-company-about{
          width: 450px;
          max-width: fit-content;
          margin-right: 20%;
      }
    
      .footer-distributed .footer-center{
        margin-left: 153%;
      }
    
    }
  